.item {
    width: 25%;
    height: 40vh;
    background-color: #fff;
    padding: 10px 0;
    font-size: 20px;
}

.tasks {
    list-style: none;
    padding: 0px;
    width: 90%;
    margin: 0 auto;
}

.tasks > li {
    border: 1px solid lightgray;
    margin: 10px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

